<nav style="display: flex; background-color: rgba(24, 199, 223, 0.459); margin-bottom: 20px;">
  <h1><a href="/" style="text-decoration: none; margin-left: 20px; color: black;">School Application</a></h1>
  <ul style="display: inline-flex; margin-top: 27px;">
    <li style="display: block;"><a href="/teachers" style="text-decoration: none; margin-left: 30px; color: black;">Teachers</a></li>
    <li style="display: block;"><a href="/students" style="text-decoration: none; margin-left: 50px; color: black;">Students</a></li>
    <li style="display: block;"><a href="/subjects" style="text-decoration: none; margin-left: 50px; color: black;">Subjects</a></li>
  </ul>
</nav>

